<%- include('header') %>
    <header>
        <h1>Undirskriftarlisti</h1>
    </header>
    <main>
        <form action="/post" method = "post" enctype="application/x-www-form-urlencoded">
            <div class = "container"><label for="nafn">Nafn*</label>
                <input class = "<%= locals.wrongfields[0] %> " type="text" name="nafn" id="nafn" value="<%= locals.form[0] %>">
            </div>
                <div class = "container">
                    <label for="kennitala">Kennitala*</label>
                <input class = "<%= locals.wrongfields[1] %> " type="text" name = "kennitala" id="kennitala" value="<%= locals.form[1] %>">
                </div>
                <div class = "container">
            <label for="ath">Athugasemd:</label>
                <textarea class = "ath <%= locals.wrongfields[2] %>" name = "ath" id = "ath" cols="30" rows="10"><%= locals.form[2] %></textarea>
            </div>
            <div class = "the-box">
            <label>Ekki birta nafn รก lista</label>
                <input type="checkbox" name="anon" id="anon" <%= locals.form[3] %> >
            </div>
            <div class = "submit-container">
                <input type="submit" value="Skrifa undir" class = "submission">
            </div>
        </form>
        <div class="errors">
        <% if(locals.errors){ %> 
            <ul>
                <% locals.errors.forEach(error => { %>
                    <li><%= error %> </li>
                <% }); %> 
            </ul>
        <% } %>
        </div> 
    <hr>
    <div class = "sign__heading">
        <h2>Undirskriftir</h2>
    </div>
    <table>
        <tr class = "table-heading">
            <th class = "date">Dags</th>
            <th class = "name">Nafn</th>
            <th class= "note">Athugasemd</th>
        </tr>
        <% signatures.rows.forEach(sign => { %>
            <tr>
                <th class = "date"><%= new Date(sign.signed).toDateString() %> </th>
                <% if(sign.anonymous) { %>
                    <th class = "name"></th>
                <% } else {%>
                    <th class = "name"><%= sign.name%></th>
                <%} %>
                <th class= "note"><%= sign.comment%></th>
            </tr>    
        <% }); %> 
    
    </table>
    </main>
    <%- include('footer') %> 